body {
  display: flex;
  width: 1200px;
  margin: auto;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.banner .icon-menu{
  display: none;
}
.banner div {
  display: flex;
  gap: 25px;
}
.banner a {
  color: gray;
  text-decoration: none;
}

.art-container {
  display: flex;
  gap: 40px;
}
.mobile-img {
  display: none;
}
.title-img {
  height: 300px;
  width: 820px;
}
.art-info {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.art-info .title {
  width: 450px;
  font-size: 30px;
  font-weight: 900;
}
.art-info .art-paragraph {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  color: gray;
  gap: 60px;
}
.art-info .art-paragraph button {
  height: 45px;
  width: 165px;
  background-color: orangered;
  color: azure;
  font-size: large;
}

.side-art {
  width: 350px;
  padding: 20px 0px 20px 20px;
  align-items: center;
  background-color: black;
  color: azure;
}
.side-art h1 {
  color: goldenrod;
}
.side-art p {
  color: grey;
}
.side-art .line {
  background-color: gray;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 1px;
  width: auto;
}

.btm-art {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}
.btm-art img {
  height: 140px;
  padding-right: 20px;
  padding-top: 25px;
}
.btm-art .art-1,
.btm-art .art-2,
.btm-art .art-3 {
  display: flex;
  width: 400px;
}
.btm-art .art-1 div,
.btm-art .art-2 div,
.btm-art .art-3 div {
  flex-direction: column;
  color: grey;
}
.btm-art .art-1 h2,
.btm-art .art-2 h2,
.btm-art .art-3 h2 {
  color: black;
}

.attribution {
  padding-top: 50px;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
    padding: 0px 10px 0px 10px;
  }

  .banner {
    width: 600px;
  }
  .banner a {
    display: none;
  }

  .title-img {
    display: none;
  }

  .mobile-img {
    width: 370px;
    display: block;
  }

  .art-container,
  .art-info,
  .btm-art {
    flex-direction: column;
  }
}
